<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @property.building_age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>

<p>
  <strong>Name of railway line:</strong>
  <%= @property.name_of_railway_line %>
</p>

<p>
  <strong>Station name:</strong>
  <%= @property.station_name %>
</p>

<p>
  <strong>How many minutes walk:</strong>
  <%= @property.how_many_minutes_walk %>
</p>

<p>
  <strong>Name of railway line:</strong>
  <%= @property.name_of_rail_way_line %>
</p>

<p>
  <strong>Station name:</strong>
  <%= @property.stationname %>
</p>

<p>
  <strong>How many minutes walk:</strong>
  <%= @property.how_many_minute_walk %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
